<div class="container-fluid" ng-controller="ChartController">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-header">
                <h1>图表示例 <small>chart</small></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>趋势图示例</h3>
                    <p>
                        <canvas class="chart chart-line"
                                chart-data="data[0].data"
                                chart-labels="data[0].labels"
                                chart-series="data[0].series"></canvas>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>柱状图示例</h3>
                    <p>
                        <canvas class="chart chart-bar"
                                chart-data="data[0].data"
                                chart-labels="data[0].labels"
                                chart-series="data[0].series"></canvas>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>饼图示例</h3>
                    <p>
                        <canvas class="chart chart-pie"
                                chart-data="data[1].data"
                                chart-labels="data[1].labels"></canvas>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
