<!DOCTYPE html>
<html ng-app="manager">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameCloud.Manager.Demo</title>

    <environment names="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/metisMenu/metisMenu.css" rel="stylesheet" />
        <link href="~/css/sb-admin-2.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/metisMenu/metisMenu.min.css" rel="stylesheet" />
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">GameCloud Manager Demo</a>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="~/Home/Table" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-send fa-fw"></i> 表格 <b class="caret"></b></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false">
                                <li>
                                    <a href="~/Home/Table">表格示例</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/Form" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud fa-fw"></i> 表单 <b class="caret"></b></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false">
                                <li>
                                    <a href="~/Home/Form">表单示例</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Home/Chart" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-upload fa-fw"></i> 图表 <b class="caret"></b></a>
                            <ul class="nav nav-second-level collapse" aria-expanded="false">
                                <li>
                                    <a href="~/Home/Chart">图表示例</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    @* Need bootstrap.js to make bootstrap madal work *@
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/metisMenu/metisMenu.js"></script>
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/lib/chart.js/Chart.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-chart.js/angular-chart.js"></script>
    <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/directives.js" asp-append-version="true"></script>
    <script src="~/js/controllers/IndexController.js" asp-append-version="true"></script>
    <script src="~/js/controllers/TableController.js" asp-append-version="true"></script>
    <script src="~/js/controllers/FormController.js" asp-append-version="true"></script>
    <script src="~/js/controllers/ChartController.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
